#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-card {
    padding: 50px;
    width: 50%;
    height: 50%;
}

button {
    width: 180px;
    height: 30px;
    font-weight: bold;
    color: blueviolet;
    background-color: aquamarine;
}
