#root {
--primary1: #bce784ff;
--primary2: #5dd39eff;
--secondary1: #348aa7ff;
--secondary2: #525174ff;
--bkground: #513b56ff;
}

#main-container {
    background: #513b56ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    height: 50%;
}

#slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    height: 50%;
}

button {
    margin: 5px;
    width: 180px;
    height: 30px;
    font-weight: bold;
    color: #bce784ff;
    background-color: #348aa7ff;
}
