#root {
--primary1: #bce784ff;
--primary2: #5dd39eff;
--secondary1: #348aa7ff;
--secondary2: #525174ff;
--bkground: #513b56ff;
}

body {
    font-size: 18px;
}

.param-display {
    font-size: 18px;
    height: 18px;
}

#main-container {
    background: #513b56ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-card {
    margin: 10px;
    background-color: #525174ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    height: 50%;
}

#waveform-dropdown {
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* align-items: center; */
    justify-content: center;
}

#slide-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    height: 50%;
}

#synth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 20px;
    color: #5dd39eff;
    background-color: #525174ff;
}

button {
    margin: 5px;
    width: 180px;
    height: 30px;
    font-weight: bold;
    color: #bce784ff;
    background-color: #348aa7ff;
}
